.card{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.468);
    padding:20px;
    margin: 10px auto;
    max-width: 300px;
    background-color: #fff;
}